* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
  text-decoration: none !important;
  list-style: none !important;
  outline: none;
}

* body {
  overflow-x: hidden;
}

* body #header {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  margin-top: 52px;
}

* body #header .container-fluid {
  max-width: 1460px;
}

* body #header .container-fluid .header-col .logo-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

* body #header .container-fluid .header-col .logo-section svg {
  margin-right: 8px;
}

* body #header .container-fluid .header-col .logo-section .logo {
  font-family: Nirmala UI;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: #005FFE;
}

* body #header .container-fluid .nav-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

* body #header .container-fluid .nav-col nav > ul {
  margin: 0;
  padding: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

* body #header .container-fluid .nav-col nav > ul > li {
  margin-left: 50px;
  white-space: nowrap;
  position: relative;
}

* body #header .container-fluid .nav-col nav > ul > li:hover ul {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

* body #header .container-fluid .nav-col nav > ul > li .list-two {
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  -webkit-transition: 400ms all;
  transition: 400ms all;
  background: skyblue;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 !important;
  left: 0;
  width: 200px;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
}

* body #header .container-fluid .nav-col nav > ul > li .list-two li {
  padding: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

* body #header .container-fluid .nav-col nav > ul > li .list-two li:hover {
  background: rgba(102, 51, 153, 0.24);
  cursor: pointer;
}

* body #header .container-fluid .nav-col nav > ul > li .list-two li:last-child {
  border-bottom: none;
}

* body #header .container-fluid .nav-col nav > ul > li .list-two li a {
  color: #000;
}

* body #header .container-fluid .nav-col nav > ul > li:last-child {
  margin-right: 0;
}

* body #header .container-fluid .nav-col nav > ul > li > a {
  font-family: Work Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: -0.22px;
  color: #2128BD;
}

* body #header .container-fluid .nav-col nav > ul > li button {
  background: rgba(1, 96, 254, 0.1);
  border-radius: 26.4px;
  width: 134px;
  height: 50px;
  padding: 13px 25px;
  color: #0160FE;
  border: none;
}

* body #header .open-menu {
  font-size: 30px;
  display: none;
}

* body main #banner {
  margin: 0 auto;
  max-width: 1600px;
  position: relative;
}

* body main #banner .container .banner-row .banner-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

* body main #banner .container .banner-row .banner-left {
  padding-top: 115px;
  position: relative;
}

* body main #banner .container .banner-row .banner-left h1 {
  font-family: Spartan;
  font-style: normal;
  font-weight: 600;
  font-size: 72px;
  line-height: 82px;
  white-space: nowrap;
  letter-spacing: -5.97px;
}

* body main #banner .container .banner-row .banner-left p {
  font-family: Work Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 26px;
  letter-spacing: -0.4px;
  color: #130F49;
  opacity: 0.9;
  margin-top: 33px;
  margin-bottom: 65px;
}

* body main #banner .container .banner-row .banner-left .banner-btn {
  background: #4F86FF;
  border-radius: 20px;
  width: 182px;
  height: 79px;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  -ms-flex-positive: 0;
      flex-grow: 0;
  font-family: Work Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 130%;
  text-align: center;
  border: none;
  color: #FFFFFF;
}

* body main #banner .container .banner-row .banner-left .abs {
  position: absolute;
  bottom: 38%;
  right: 74px;
  width: 86px;
  background: #fff;
  border-radius: 50%;
  height: 86px;
}

* body main #banner .container .banner-row .banner-left .abs1 {
  background: #fff;
  border-radius: 50%;
  position: absolute;
  top: 30px;
  left: -76px;
}

* body main #banner .container .banner-row .banner-right {
  padding-top: 90px;
  position: relative;
}

* body main #banner .container .banner-row .banner-right .phone {
  width: 542px;
  height: 542px;
}

* body main #banner .container .banner-row .banner-right .abs-img {
  z-index: -1;
  position: absolute;
  bottom: 0;
}

* body main #banner .svg {
  position: absolute;
  bottom: 270px;
  left: 50px;
}

* body main #banner .svg2 {
  position: absolute;
  right: 110px;
  bottom: 280px;
}

* body main #banner .svg3 {
  position: absolute;
  top: 90px;
  right: 230px;
}

* body main #banner .svg4 {
  position: absolute;
  right: 240px;
  bottom: -100px;
}

* body main #mobil-menu .mobil-container nav > ul {
  position: fixed;
  top: 0;
  left: -100%;
  height: 100%;
  background-color: #fff;
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: 350ms ease;
  transition: 350ms ease;
}

* body main #mobil-menu .mobil-container nav > ul.active {
  left: 0;
}

* body main #mobil-menu .mobil-container nav > ul > li {
  width: 95% !important;
  padding: 15px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

* body main #mobil-menu .mobil-container nav > ul > li .list_two {
  margin: 0;
  padding: 0;
  display: none;
}

* body main #mobil-menu .mobil-container nav > ul > li .list_two.active {
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

* body main #mobil-menu .mobil-container nav > ul > li .list_two li {
  padding: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

* body main #mobil-menu .mobil-container nav > ul > li .list_two li:last-child {
  border-bottom: none;
}

* body main #mobil-menu .mobil-container nav > ul > li .list_two li a {
  font-size: 22px;
  color: #005FFE;
}

* body main #mobil-menu .mobil-container nav > ul > li > a {
  font-size: 22px;
  color: #005FFE;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

* body main #mobil-menu .mobil-container nav > ul > li > a i {
  margin-left: auto;
}

* body main #slider {
  padding-top: 144px;
  position: relative;
  margin: 0 auto;
  max-width: 1600px;
}

* body main #slider .container {
  max-width: 1050px;
}

* body main #slider .container .swiper .swiper-wrapper {
  padding-bottom: 56px;
}

* body main #slider .container .swiper .swiper-wrapper .swiper-slide {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

* body main #slider .container .swiper .swiper-wrapper .swiper-slide .swiper-item {
  background: #FFFFFF;
  border: 1px solid #CDE4F9;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 24px;
  width: 300px;
  height: 200px;
  position: relative;
}

* body main #slider .container .swiper .swiper-wrapper .swiper-slide .swiper-item::before {
  content: "";
  position: absolute;
  right: 15px;
  background: url("../img/color.png");
  width: 96px;
  bottom: 15px;
  height: 96px;
  background-repeat: no-repeat;
}

* body main #slider .container .swiper .swiper-wrapper .swiper-slide .swiper-item .swip-title {
  font-family: Work Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  padding-top: 24px;
  display: block;
  color: #0F1C49;
  padding-left: 24px;
}

* body main #slider .container .swiper .swiper-wrapper .swiper-slide .swiper-item .swip-content {
  font-family: Work Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  padding-top: 12px;
  padding-left: 24px;
  letter-spacing: 0.0052em;
  color: #130F49;
}

* body main #slider .container .swiper .swiper-wrapper .swiper-slide .swiper-item .swip-btn {
  font-family: Work Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  padding-top: 39px;
  display: block;
  padding-left: 24px;
  letter-spacing: 0.0052em;
  color: #4F86FF;
}

* body main #slider .svg {
  position: absolute;
  left: 200px;
}

* body main #table {
  position: relative;
  padding-top: 72px;
}

* body main #table::before {
  content: "";
  position: absolute;
  bottom: 0;
  background-size: cover;
  z-index: -1;
  width: 100%;
  height: 900px;
  background-repeat: no-repeat;
  background-image: url("../img/Rectangle 151.png");
}

* body main #table .table-title {
  text-align: center;
  letter-spacing: -2.32px;
  font-family: Spartan;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
  color: #0F1C49;
  margin-bottom: 44px;
}

* body main #table .container {
  max-width: 1040px;
}

* body main #table .container .cs-table {
  height: 561px;
  border-radius: 24px;
  background: #fff;
}

* body main #table .container .cs-table .tb-header {
  padding-top: 40px;
  margin-left: 32px;
  margin-right: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 20px;
  border-bottom: 0.8px solid #CDE4F9;
}

* body main #table .container .cs-table .tb-header span {
  font-family: Work Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.078px;
  color: #88A1BE;
}

* body main #table .container .cs-table .tb-header .one {
  padding-right: 222px;
}

* body main #table .container .cs-table .tb-header .two {
  padding-right: 178px;
}

* body main #table .container .cs-table .tb-header .three {
  padding-right: 100px;
}

* body main #table .container .cs-table .tb-header .four {
  padding-right: 91px;
}

* body main #table .container .cs-table .tb-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 32px;
  margin-right: 32px;
  padding-top: 35px;
  padding-bottom: 30px;
  border-bottom: 0.8px solid #CDE4F9;
}

* body main #table .container .cs-table .tb-row .bir {
  font-family: Work Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.4px;
  color: #130F49;
}

* body main #table .container .cs-table .tb-row .bir img {
  width: 36px;
  height: 36px;
  margin-left: 15px;
  margin-right: 0;
}

* body main #table .container .cs-table .tb-row .bir .iki {
  font-family: Work Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.4px;
}

* body main #table .container .cs-table .tb-row .bir .iki .btc {
  font-family: Work Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  margin-right: 125px;
  letter-spacing: -0.4px;
}

* body main #table .container .cs-table .tb-row .bir .iki .btc.btc2 {
  margin-right: 100px;
}

* body main #table .container .cs-table .tb-row .bir .iki .btc.btc3 {
  margin-right: 119px;
}

* body main #table .container .cs-table .tb-row .bir .iki .btc.btc4 {
  margin-right: 95px;
}

* body main #table .container .cs-table .tb-row .rp {
  font-family: Work Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.4px;
  color: #130F49;
  margin-right: 90px;
}

* body main #table .container .cs-table .tb-row .rp.rp2 {
  margin-right: 94px;
}

* body main #table .container .cs-table .tb-row .rp.rp3 {
  margin-right: 133px;
}

* body main #table .container .cs-table .tb-row .rp.rp4 {
  margin-right: 136px;
}

* body main #table .container .cs-table .tb-row .grn {
  margin-right: 122px;
  font-family: Work Sans;
  color: #FF35A2;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.4px;
  color: #12D790;
}

* body main #table .container .cs-table .tb-row .grn.grn-2 {
  margin-right: 127px;
  color: #FF35A2;
}

* body main #table .container .cs-table .tb-row .grn.grn-red {
  color: #FF35A2;
}

* body main #table .container .cs-table .tb-row button {
  margin-left: 70px;
  background: #4F86FF;
  border-radius: 12px;
  width: 82px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px 24px;
  height: 47px;
  font-family: Work Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 130%;
  text-align: center;
  color: #FFFFFF;
}

* body main #table .container .cs-table .tb-row button.btn2 {
  margin-left: 75px;
}

* body main #table .container .cs-table .tb-row button.btn3 {
  margin-left: 80px;
}

* body main #table .container .cs-table .tb-row button.btn4 {
  margin-left: 73px;
}

* body main #text {
  padding-top: 160px;
  position: relative;
  margin: 0 auto;
  max-width: 1600px;
}

* body main #text .container .row .col-lg-6 .content1 {
  font-family: Spartan;
  font-style: normal;
  font-weight: 600;
  font-size: 52px;
  line-height: 64px;
  letter-spacing: -2.32px;
  color: #130F49;
  position: relative;
  top: -20px;
}

* body main #text .container .row .col-lg-6 .content2 {
  font-family: Work Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 38px;
  letter-spacing: -1px;
  color: #130F49;
  opacity: 0.4;
}

* body main #text .container .row .ct-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

* body main #text .svg {
  position: absolute;
  right: 100px;
  bottom: 220px;
}

* body main #text .svg2 {
  position: absolute;
  left: 150px;
  bottom: 120px;
}

* body main #port {
  padding-top: 110px;
  position: relative;
  margin: 0 auto;
  max-width: 1600px;
}

* body main #port .container .row .col-lg-6 .port-left-item {
  width: 100%;
}

* body main #port .container .row .col-lg-6 .port-left-item img {
  width: 733px;
  height: 533px;
}

* body main #port .container .row .col-lg-6 .posit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
}

* body main #port .container .row .col-lg-6 .posit .port-right-item {
  position: relative;
}

* body main #port .container .row .col-lg-6 .posit .port-right-item h5 {
  font-family: Spartan;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 34px;
  letter-spacing: -0.01em;
  color: #130F49;
  margin-bottom: 20px;
}

* body main #port .container .row .col-lg-6 .posit .port-right-item p {
  font-family: Work Sans;
  font-style: normal;
  margin-right: 0 !important;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 65px;
  letter-spacing: -0.01em;
  color: #130F49;
  opacity: 0.4;
  width: 290px;
}

* body main #port .container .row .col-lg-6 .posit .port-right-item p.cnt2 {
  width: 309px;
}

* body main #port .container .row .col-lg-6 .posit .port-right-item p.cnt3 {
  width: 265px;
}

* body main #port .container .row .col-lg-6 .posit .port-right-item .port-abs {
  position: absolute;
  top: -14px;
  left: -80px;
}

* body main #port .container .row .col-lg-6 .posit .port-right-item .port-abs img {
  width: 60px;
  height: 60px;
}

* body main #port .svg {
  position: absolute;
  left: 120px;
}

* body main #port .svg2 {
  position: absolute;
  right: 90px;
  top: 430px;
}

* body main #app {
  padding-top: 140px;
  position: relative;
  max-width: 1600px;
  margin: 0 auto;
}

* body main #app .container .row .col-lg-6 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

* body main #app .container .row .col-lg-6 .app-item h4 {
  font-family: Spartan;
  font-style: normal;
  font-weight: 600;
  font-size: 52px;
  line-height: 64px;
  /* or 123% */
  letter-spacing: -2.32px;
  color: #130F49;
}

* body main #app .container .row .col-lg-6 .app-item p {
  font-family: Work Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 38px;
  /* or 158% */
  letter-spacing: -1px;
  color: #130F49;
  opacity: 0.4;
  width: 357px;
  padding-top: 36px;
  padding-bottom: 56px;
}

* body main #app .container .row .col-lg-6 .app-item .btn-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

* body main #app .container .row .col-lg-6 .app-item .btn-flex a {
  margin-right: 22px;
}

* body main #app .container .row .col-lg-6 .right-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

* body main #app .container .row .col-lg-6 .right-item .img-abs {
  position: absolute;
  bottom: 0px;
  z-index: -1;
}

* body main #app .container .row .col-lg-6 .right-item .img-abs img {
  width: 515px;
}

* body main #app .svg {
  position: absolute;
  bottom: 295px;
  left: 200px;
}

* body main #app .svg2 {
  position: absolute;
  right: 100px;
  bottom: 15px;
}

* body main #register {
  padding-top: 200px;
  position: relative;
  margin: 0 auto;
  max-width: 1600px;
}

* body main #register .register-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

* body main #register .register-title h2 {
  font-family: Spartan;
  font-style: normal;
  font-weight: 600;
  font-size: 52px;
  line-height: 64px;
  text-align: center;
  letter-spacing: -2.32px;
  color: #130F49;
  padding-bottom: 20px;
}

* body main #register .register-title p {
  font-family: Work Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 38px;
  text-align: center;
  letter-spacing: -1px;
  color: #130F49;
  opacity: 0.4;
}

* body main #register .container {
  padding-left: 150px;
  padding-right: 150px;
}

* body main #register .container .row .col-lg-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

* body main #register .container .row .col-lg-4 .register-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 90px;
  text-align: center;
}

* body main #register .container .row .col-lg-4 .register-item img {
  width: 166px;
  height: 166px;
}

* body main #register .container .row .col-lg-4 .register-item span {
  padding-top: 12px;
  padding-bottom: 16px;
  font-family: Spartan;
  white-space: nowrap;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 34px;
  /* identical to box height, or 142% */
  text-align: center;
  letter-spacing: -0.01em;
  color: #130F49;
}

* body main #register .container .row .col-lg-4 .register-item p {
  font-family: Work Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  /* or 140% */
  text-align: center;
  letter-spacing: -0.01em;
  color: #130F49;
  opacity: 0.4;
}

* body main #register .container .row .col-lg-4 .register-item p.two {
  width: 310px;
}

* body main #register .svg {
  position: absolute;
  top: 230px;
  right: 390px;
}

* body main #partner {
  padding-top: 180px;
  position: relative;
  margin: 0 auto;
  max-width: 1600px;
}

* body main #partner h2 {
  text-align: center;
  font-family: Spartan;
  padding-bottom: 90px;
  font-style: normal;
  font-weight: 600;
  font-size: 52px;
  line-height: 64px;
  text-align: center;
  letter-spacing: -2.32px;
  color: #130F49;
}

* body main #partner .container .swiper-wrapper {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

* body main #partner .container .swiper-wrapper .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 58px;
}

* body main #partner .svg {
  position: absolute;
  top: 100px;
  right: 300px;
}

* body main #partner .svg2 {
  position: absolute;
  left: 110px;
}

* body main #partner .svg3 {
  position: absolute;
  left: 160px;
  bottom: 240px;
}

* body main #join {
  position: relative;
  padding-top: 220px;
  margin: 0 auto;
  max-width: 1600px;
}

* body main #join .container .row .col-lg-6 .left-item span {
  font-family: Spartan;
  font-style: normal;
  font-weight: 600;
  font-size: 52px;
  line-height: 64px;
  letter-spacing: -2.32px;
  color: #130F49;
}

* body main #join .container .row .col-lg-6 .left-item p {
  font-family: Work Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 38px;
  letter-spacing: -1px;
  margin-top: 30px;
  color: #130F49;
  margin-bottom: 58px;
  opacity: 0.4;
}

* body main #join .container .row .col-lg-6 .left-item .join-btn {
  color: #fff;
  background: #4F86FF;
  border-radius: 20px;
  width: 175px;
  height: 79px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Work Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 130%;
  /* or 23px */
  text-align: center;
  color: #FFFFFF;
}

* body main #join .svg {
  position: absolute;
  top: 200px;
  right: 200px;
}

* body main #join .svg2 {
  position: absolute;
  left: 60px;
}

* body main #join .svg3 {
  position: absolute;
  bottom: 320px;
  left: 70px;
}

* body main #join .svg4 {
  position: absolute;
  right: 100px;
}

* body #footer {
  padding-top: 190px;
  padding-bottom: 69px;
}

* body #footer .container-fluid {
  max-width: 1460px;
  height: 36px;
}

* body #footer .container-fluid .col-4 .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

* body #footer .container-fluid .col-4 .logo svg {
  margin-right: 8px;
}

* body #footer .container-fluid .col-4 .logo .logo {
  font-family: Nirmala UI;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: #005FFE;
}

* body #footer .container-fluid .col-4 nav ul {
  height: 36px;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

* body #footer .container-fluid .col-4 nav ul li {
  margin-right: 60px;
}

* body #footer .container-fluid .col-4 nav ul li a {
  font-family: Work Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  /* identical to box height, or 160% */
  letter-spacing: -0.22px;
  color: #130F49;
}

* body #footer .container-fluid .col-4 {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

* body #footer .container-fluid .col-4 span {
  font-family: Work Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: -0.22px;
  color: #130F49;
  opacity: 0.4;
}

@media only screen and (max-width: 1200px) {
  * body main #banner .container .banner-row .banner-left h1 {
    font-size: 60px;
  }
  * body main #banner .container .banner-row .banner-left .abs1 {
    width: 125px;
    left: -70px;
    top: 40px;
  }
  * body main #banner .container .banner-row .banner-left .abs {
    bottom: 225px;
    right: 57px;
    width: 70px;
    height: 70px;
  }
  * body main #register .container {
    padding: 0;
  }
}

@media only screen and (max-width: 992px) {
  * body #header {
    padding: 0 20px;
  }
  * body #header .container-fluid .nav-col {
    display: none;
  }
  * body #header .open-menu {
    display: block !important;
  }
  * body main #table {
    width: 100%;
    white-space: nowrap;
  }
  * body main #table .container .cs-table {
    overflow-x: auto;
  }
  * body main #table .container .cs-table .tb-header {
    width: 900px;
  }
  * body main #table .container .cs-table .tb-row {
    width: 900px;
  }
  * body main #join .container .row .col-lg-6 {
    margin-bottom: 30px;
  }
  * body #footer .container-fluid .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  * body #footer .container-fluid .row .col-4 {
    white-space: nowrap;
    -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
            justify-content: flex-start !important;
    margin-bottom: 25px;
  }
  * body #footer .container-fluid .row .col-4 nav uL {
    display: block;
    height: 200px;
    padding: 0;
  }
  * body #footer .container-fluid .row .col-4 nav uL li {
    padding-bottom: 20px;
  }
  * body #footer .container-fluid .row .col-4 nav uL li a {
    font-size: 20px;
  }
  * body #app .container .row .col-lg-6 {
    margin-bottom: 80px;
  }
  * body #register {
    padding-top: 30px !important;
  }
}

@media only screen and (max-width: 620px) {
  * body #footer {
    padding-top: 80px;
  }
  * body main #banner .container .banner-row .banner-left h1 {
    font-size: 50px;
  }
  * body main #banner .container .banner-row .banner-left .abs1 {
    width: 100px;
    left: -56px;
    top: 60px;
  }
  * body main #banner .container .banner-row .banner-left .abs {
    bottom: 226px;
    right: 46px;
    width: 60px;
    height: 60px;
  }
  * body main #banner .container .banner-row .banner-right .phone {
    width: 400px;
    height: 400px;
  }
  * body main #banner .container .banner-row .banner-right .abs-img img {
    width: 400px;
  }
  * body main #table .table-title {
    font-size: 35px;
  }
  * body main #app .container .row .col-lg-6 .right-item img {
    width: 400px;
    height: 400px;
  }
  * body main #app .container .row .col-lg-6 .right-item .img-abs img {
    height: 200px;
    width: 400px;
  }
  * body main #register {
    overflow-x: hidden;
  }
  * body main #register .register-title h2 {
    font-size: 35px;
    padding-bottom: 10px;
  }
  * body main #register .register-title p {
    font-size: 20px;
  }
}

@media only screen and (max-width: 420px) {
  * body main #banner .container .banner-row .banner-left {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  * body main #banner .container .banner-row .banner-left h1 {
    font-size: 40px;
    line-height: 65px;
    text-align: center;
  }
  * body main #banner .container .banner-row .banner-left .abs1 {
    width: 70px;
    left: -25px;
    top: 80px;
  }
  * body main #banner .container .banner-row .banner-left .abs {
    bottom: 223px;
    right: 17px;
    width: 45px;
    height: 45px;
  }
  * body main #banner .container .banner-row .banner-left p {
    font-size: 19px;
  }
  * body main #banner .container .banner-row .banner-left .banner-btn {
    width: 150px;
    height: 70px;
  }
  * body main #banner .container .banner-row .banner-right .phone {
    width: 300px;
    height: 300px;
  }
  * body main #banner .container .banner-row .banner-right .abs-img img {
    width: 300px;
  }
  * body main #text .container .row .col-lg-6 .content1 {
    font-size: 35px;
  }
  * body main #port .container .row .col-lg-6 .port-left-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  * body main #port .container .row .col-lg-6 .port-left-item img {
    width: 350px;
    height: 300px;
    margin-bottom: 55px;
  }
  * body main #port .container .row .col-lg-6 .port-right-item {
    margin-right: -30px;
  }
  * body main #port .container .row .col-lg-6 .port-right-item .port-abs {
    top: -10px !important;
    left: -55px !important;
  }
  * body main #port .container .row .col-lg-6 .port-right-item .port-abs img {
    width: 45px !important;
    height: 45px !important;
  }
  * body main #port .container .row .col-lg-6 .port-right-item h5 {
    font-size: 20px !important;
    margin-bottom: 10px !important;
  }
  * body main #port .container .row .col-lg-6 .port-right-item p {
    font-size: 17px !important;
  }
  * body main #app {
    padding-top: 50px;
  }
  * body main #app .container .row .col-lg-6 .app-item h4 {
    font-size: 40px;
    margin: 0 auto;
    text-align: center;
  }
  * body main #app .container .row .col-lg-6 .app-item p {
    width: 90%;
    text-align: center;
    font-size: 20px;
    margin: 0 auto;
  }
  * body main #app .container .row .col-lg-6 .app-item .btn-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  * body main #app .container .row .col-lg-6 .app-item .btn-flex a {
    margin-bottom: 13px;
    margin-right: 0;
  }
  * body main #app .container .row .col-lg-6 .right-item img {
    width: 300px;
    height: 300px;
  }
  * body main #app .container .row .col-lg-6 .right-item .img-abs img {
    width: 300px;
    height: 150px;
  }
  * body main #register .register-title h2 {
    font-size: 26px;
  }
  * body main #register .container .row .col-lg-4 .register-item {
    padding-top: 35px;
  }
  * body main #partner {
    padding-top: 120px;
  }
  * body main #partner h2 {
    font-size: 40px;
  }
  * body main #join .container .row .col-lg-6 .left-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  * body main #join .container .row .col-lg-6 .left-item span {
    font-size: 40px;
  }
  * body main #join .container .row .col-lg-6 .left-item .join-btn {
    width: 150px;
    height: 70px;
  }
  * body main #join .container .row .col-lg-6 .right-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  * body main #join .container .row .col-lg-6 .right-item img {
    width: 350px;
    height: 300px;
  }
}
/*# sourceMappingURL=style.css.map */